*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{

    background-image: url('image/bg.jpg');
    background-size: 100% 100%;
    height: auto;
    width: auto;

}
.container{
    color: white;
}
h2{
    color: white;
}